/* This file has been moved to /assets/css/globals.css */
/* Please refer to that file for the actual styles used in the Nuxt 4 application */

@import "tailwindcss";

:root {
  --guardian-blue: #052962;
  --guardian-light-blue: #506991;
  --guardian-yellow: #ffe500;
  --guardian-border: #dcdcdc;
  --guardian-bg: #ffffff;
  --guardian-text: #121212;
  --guardian-grey: #767676;
}
